
.carrousel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.carrousel-content {
  display: flex;
  overflow: hidden;
  width: 80%;
  position: relative;
}

.carrousel-cards {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.carrousel-arrow {
  background-color: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  margin: 0 10px;
}

.carrousel-arrow:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}
