/* carouselcard */
.carrousel-card {
  border: 1.5px solid #aaa;
  border-radius: 5px;
  background: #fff;
  width: 160px;
  height: 210px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin: 0 6px;
  box-sizing: border-box;
  transition: border-color .17s;
}
.carrousel-card.active {
  border: 2.2px solid #2196f3;
}
.card-theme {
  background: #fff;
  border-bottom: 1px solid #eee;
  padding: 13px 0;
  font-weight: 600;
  text-align: center;
}
.card-image {
  background: #bbb;
  flex: 1 1 auto;
  text-align: center;
  padding: 28px 0 8px 0;
  color: #333;
}
.card-note {
  text-align: center;
  padding: 8px 0 7px 0;
  font-size: 1.1rem;
  color: #444;
}