
.pagination-dots {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #000000;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.dot.active {
  background-color: #333;
}
